.aiphover{
    width: screen;
    height: screen;
    background-image: url("../assets/Packages/adult3.jpg");
    background-size: cover;
    transition: background-size 0.3s ease;
}

.aiphover:hover {
    background-image: url('../assets/Packages/adult3.jpg');
  }

.fvshover{
    width: screen;
    height: screen;
    background-image: url("../assets/CW-FVS.png");
    background-size: cover;
    transition: background-size 0.3s ease;
}


.fvshover{
    width: screen;
    height: screen;
    background-image: url("../assets/Packages/budgetPackage/278135890_273200588347226_2541094865623512145_n.png");
    background-size: cover;
    transition: background-size 0.3s ease;
}